.dev-link-container {
  width: 300px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #f86594;
  flex: 1;
  border-radius: 5px;
  padding: 5px 10px;
}

.link-title {
  font-size: 18px;
  text-decoration: none;
  color: #f86594;
  font-weight: 600;
  text-transform: capitalize;
  flex: 1;
}

.link-icon {
  width: 22px;
  height: 22px;
}

.link-icon:hover {
  cursor: pointer;
}

.delete {
  margin-left: 15px;
}

@media screen and (max-width: 500px) {
  .dev-link-container {
    width: 250px;
  }

  .link-icon {
    width: 20px;
    height: 20px;
  }
}
